<header class="jumbotron" role="banner">
  <div class="container">
    <h1 class="display-3">AlphaBlog</h1>
    <p class="btn-group">
      <%=link_to "Home", root_path, :class => "btn btn-primary"%>
      <%=link_to "About", about_path, :class => "btn btn-primary"%>
      <%= link_to "AlphaBlog", articles_path, :class => "btn btn-primary"%>
    </p>
  </div>
</header>