<article role="post">
  <h1>Article 1</h1>
  <time datetime="2017-03-13">3/13/2017</time>
  <p>
    This is the first article.
  </p>
</article>
<article role="post">
  <h1>Article 2</h1>
  <time datetime="2017-03-14">3/14/2017</time>
  <p>
    And this is the second.
  </p>
</article>